.category.bg-color.ethnicity {
    background-color: #9075bb;
}

.category.bg-color.gender {
    background-color: #f7d550;
}

.category.bg-color.sexuality {
    background-color: #51d1ed;
}

.category.bg-color.social_class {
    background-color: #ff9c48;
}

.category.border-color.ethnicity {
    border-color: #9075bb;
}

.category.border-color.gender {
    border-color: #f7d550;
}

.category.border-color.sexuality {
    border-color: #51d1ed;
}

.category.border-color.social_class {
    border-color: #ff9c48;
}

.category.color.ethnicity {
    color: #9075bb;
}

.category.color.gender {
    color: #f7d550;
}

.category.color.sexuality {
    color: #51d1ed;
}

.category.color.social_class {
    color: #ff9c48;
}

svg.icon .ethnicity {
    fill: #9075bb;
}

svg.icon .gender {
    fill: #f7d550;
}

svg.icon .sexuality {
    fill: #51d1ed;
}

svg.icon .social_class {
    fill: #ff9c48;
}
