div#frame-list {
    background-color: #111111;

    overflow-y: scroll;
    height: 100%;
}

div.listed-story-wrapper {
    width: 32%;
    padding: 1em;

    display: inline-block;
}

div.listed-story {
    background-color: white;
    
    padding: 1em;

    font-family: Montserrat, sans-serif;
}

div.listed-story h1{
    font-family:Montserrat;
    font-weight:700;
    font-size:20px;
}

div.listed-story h4{
    font-family:Montserrat;
    font-size:.7em;
}
div.listed-story p{
    font-family:Neuton, serif;
    font-size:1em;
    line-height: 1.3em;
}

div.listed-story div.story-icon {
    padding: 1em;
}

div.listed-story div.story-icon svg {
    width: 100%;
}
